body{
margin:0;
font-family:Poppins;
background:#f4f4f4;
color:#333;
}


header{
position:fixed;
width:100%;
background:#000;
color:white;
display:flex;
justify-content:space-between;
padding:20px 50px;
z-index:1000;
}

nav a{
color:white;
margin-left:25px;
text-decoration:none;
font-weight:500;
}


.hero{

height:100vh;

background:url("images/tas1.png") center/cover no-repeat;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

color:white;

}


.hero-text h1{
font-size:60px;
margin-bottom:10px;
}


.btn{

background:#c79b45;

padding:12px 30px;

color:white;

text-decoration:none;

border-radius:5px;

}


section{
padding:100px 10%;
}


.profil{
background:white;
}


.promo{

display:flex;

align-items:center;

gap:40px;

background:#111;

color:white;

}


.promo img{
width:100%;
border-radius:10px;
}


.galeri{
background:#fafafa;
text-align:center;
}


.grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:20px;

margin-top:30px;

}


.grid img{
width:100%;
border-radius:10px;
}


.kontak{
background:white;
text-align:center;
}


footer{
background:black;
color:white;
text-align:center;
padding:30px;
}
